@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}


@model listEntry;

<br />
<br />
<br />
<br />
<br />
<br />

<h1>Welcome to Group 1-12 Mission 8!</h1> <!--Welcome to website-->
<br />


