@{
    ViewData["Title"] = "To Do List";
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>Task</td>
            <td>Due Date</td>
            <td>Quadrant</td>
            <td>Category</td>
            <td>Completed?</td>
        </tr>
    </thead>
</table>